<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div id="calendar">
  	<div class="clasp hole-left"></div>
  	<div class="clasp hole-right"></div>
  	<div class="hole hole-left"></div>
  	<div class="hole hole-right"></div>
  	<div id="month">May 2017</div>
  	<div id="days">
  		<table class="days">
  			<tr>
  				<td>SUN</td>
  				<td>MON</td>
  				<td>TUE</td>
  				<td>WED</td>
  				<td>THU</td>
  				<td>FRI</td>
  				<td>SAT</td>
  			</tr>
  		</table>
  	</div>

  	<table class="day">
  		<tr>
        <td>
          {% for post in site.posts %}
              {% if post.day == 1 %}
              <a href="{{ site.baseurl }}{{ post.url }}" class="date">1</a>
              {% endif %}
          {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 2 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">2</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 3 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">3</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 4 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">4</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 5 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">5</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 6 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">6</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 7 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">7</a>
            {% endif %}
        {% endfor %}
        </td>

  		</tr>
  		<tr>
        <td>
        {% for post in site.posts %}
            {% if post.day == 8 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">8</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 9 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">9</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 10 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">10</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 11 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">11</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 12 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">12</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 13 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">13</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 14 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">14</a>
            {% endif %}
        {% endfor %}
        </td>

  		</tr>
  		<tr>
        <td>
        {% for post in site.posts %}
            {% if post.day == 15 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">15</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 16 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">16</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 17 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">17</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 18 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">18</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 19 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">19</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 20 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">20</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 21 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">21</a>
            {% endif %}
        {% endfor %}
        </td>
  		</tr>
  		<tr>
        <td>
        {% for post in site.posts %}
            {% if post.day == 22 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">22</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 23 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">23</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 24 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">24</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 25 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">25</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 26 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">26</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 27 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">27</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 28 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">28</a>
            {% endif %}
        {% endfor %}
        </td>
  		</tr>
  		<tr>
        <td>
        {% for post in site.posts %}
            {% if post.day == 29 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">29</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 30 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">30</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 31 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">31</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 32 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">32</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 33 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">33</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 34 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">34</a>
            {% endif %}
        {% endfor %}
        </td>

        <td>
        {% for post in site.posts %}
            {% if post.day == 35 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date">35</a>
            {% endif %}
        {% endfor %}
        </td>
  		</tr>
  	</table>
  </div>


    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
