<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div id="calendar">
  	<div class="clasp hole-left"></div>
  	<div class="clasp hole-right"></div>
  	<div class="hole hole-left"></div>
  	<div class="hole hole-right"></div>
  	<div id="month">May 2017</div>
  	<div id="days">
  		<table class="days">
  			<tr>
  				<td>SUN</td>
  				<td>MON</td>
  				<td>TUE</td>
  				<td>WED</td>
  				<td>THU</td>
  				<td>FRI</td>
  				<td>SAT</td>
  			</tr>
  		</table>
  	</div>

  	<table class="day">
  		<tr>
        {% for post in site.posts %}
            {% if post.day == 1 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date"><td>1</a></td>
            {% else %}
            <td>1</td>
            {% endif %}
        {% endfor %}

        {% for post in site.posts %}
            {% if post.day == 2 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="date"><td>2</a></td>
            {% else %}
            <td>2</td>
            {% endif %}
        {% endfor %}

        {% for post in site.posts %}
            {% if post.day == 3 %}
            <td><a href="{{ site.baseurl }}{{ post.url }}" class="date">3</a></td>
            {% else %}
            <td>3</td>
            {% endif %}
        {% endfor %}

        {% for post in site.posts %}
            {% if post.day == 4 %}
            <td><a href="{{ site.baseurl }}{{ post.url }}" class="date">4</a></td>
            {% else %}
            <td>4</td>
            {% endif %}
        {% endfor %}

        {% for post in site.posts %}
            {% if post.day == 5 %}
            <td><a href="{{ site.baseurl }}{{ post.url }}" class="date">5</a></td>
            {% else %}
            <td>5</td>
            {% endif %}
        {% endfor %}

        {% for post in site.posts %}
            {% if post.day == 6 %}
            <td><a href="{{ site.baseurl }}{{ post.url }}" class="date">6</a></td>
            {% else %}
            <td>6</td>
            {% endif %}
        {% endfor %}

        {% for post in site.posts %}
            {% if post.day == 7 %}
            <td><a href="{{ site.baseurl }}{{ post.url }}" class="date">7</a></td>
            {% else %}
            <td>7</td>
            {% endif %}
        {% endfor %}

  		</tr>
  		<tr>
  			<td>8</td>
  			<td>9</td>
  			<td>10</td>
  			<td>11</td>
  			<td>12</td>
  			<a href="https://brianamarie.github.io/wtd-hello//2017/05/13/next-post/"><td>13</td></a>
  			<td>14</td>
  		</tr>
  		<tr>
  			<td>15</td>
  			<td>16</td>
  			<td>17</td>
  			<td>18</td>
  			<td>19</td>
  			<td>20</td>
  			<td>21</td>
  		</tr>
  		<tr>
  			<td>22</td>
  			<td>23</td>
  			<td>24</td>
  			<td>25</td>
  			<td>26</td>
  			<td>27</td>
  			<td>28</td>
  		</tr>
  		<tr>
  			<td>29</td>
  			<td>30</td>
  			<a href="https://brianamarie.github.io/wtd-hello//2017/05/12/things-portland/"><td>31</td></a>
  			<td class="old-month">1</td>
  			<td class="old-month">2</td>
  			<td class="old-month">3</td>
  			<td class="old-month">34</td>
  		</tr>
  	</table>
  </div>


    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
